.rate > input {
display: none;
}

.rate {
display:inline-block;
border: 0;
margin-bottom: 10px;
}

.rate > label {
float: right;
}

.rate > label:before {
display: inline-block;
font-size: 1.3rem;
font-family: FontAwesome;
content: '\f005';
margin: 0;
padding: 0.3rem .2rem;
cursor: pointer;
}

.rate .half:before {
content: '\f089';
position: absolute;
padding-right: 0;
}

input:checked ~ label, label:hover ~ label{
color:gold;
}


.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.grid-item{
  border: 2px solid black;
  padding: 30px;
  display: grid;
  place-items: center;
}