{% extends 'base.html' %}
{% block content%}
     <header class="bg-dark py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">About BookBoulevard</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Welcome to BookBoulevard, the best online bookstore.</p>
                    </div>
                </div>
     </header>

     <div class="container">
         <div class="row">
             <center>
                <div class="col-8">
                     <p><br />
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed ipsum cursus, consequat tortor ut, eleifend sem. Donec pharetra tempor magna id vestibulum. Nullam elit sem, venenatis et pellentesque ultricies, tincidunt in leo. Nulla consectetur ac tellus ac aliquet. Mauris in placerat turpis, ac varius ligula. Etiam nec tempor dolor, vel porta massa. Morbi pretium lorem nec felis ultricies, sed molestie magna porta. In hac habitasse platea dictumst. Pellentesque non tincidunt est, ac efficitur arcu. In sit amet massa massa. Aenean eleifend scelerisque sapien, eu scelerisque tellus. Etiam non lacinia justo, eu facilisis leo. Nulla rutrum tempus massa tincidunt lobortis. Curabitur tincidunt at eros congue porttitor. Duis leo arcu, sagittis iaculis tellus sed, semper cursus leo. Aliquam molestie neque libero, ut cursus neque dignissim eget.<br><br>
Integer lobortis eleifend odio. Nulla ultricies ante eget mauris blandit, at consectetur sem efficitur. Aenean accumsan posuere turpis ac vehicula. Nulla leo massa, tempor nec turpis id, fermentum feugiat neque. Aliquam facilisis sed lorem et placerat. Maecenas velit nibh, dignissim ut ullamcorper pellentesque, lacinia vel diam. Nunc mattis, mauris vitae aliquam elementum, neque purus consequat nisl, quis varius libero felis a nisl.</p>
                    <br />
                </div>
             </center>
         </div>
    </div>
{% endblock %}