{% extends 'base.html' %}

{% block content%}
<div class="container">
    <br/>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img width="300" height="400" src="{{ product.cover.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h3 class="card-title">{{ product.title }}</h3>
                        <h5>{{ product.author }}</h5>
                            {% if comments %}
                                {{ avg_rate }}
                                <i class="fa fa-star" style="color:gold"></i> ({{ comments.count }})
                        {% endif %}
                        <br/>
                        <br>
                        <p class="card-text">{{ product.description }}</p>
                        {% if product.is_sale %}
                        <strike>
                            £{{ product.price }}
                        </strike>
                        £{{ product.sale_price }}
                        {% else %}
                        £{{ product.price }}
                        {% endif %}
                        <br/>
                        <div class="row justify-content-center">
                            <div class="col-md-2">Quantity</div>
                            <div class="col-md-2">
                                <select class="form-select form-select-sm" id="qty-cart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="3">4</option>
                                    <option value="3">5</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <button type="button" value='{{ product.id }}' class="btn btn-secondary" id="add-cart">Add to
                            cart
                        </button>
                        <button type="button" value='{{ product.id }}' class="btn btn-outline-dark" id="wish_list_add">
                            <img src="../static/assets/suit-heart-fill.svg" alt="heart" width="25" height="24">
                        </button>
                        <br/>
                        <br/>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

                    </center>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h3>Reviews</h3>
        <br>
        {% for comment in comments %}
        <strong>{{ comment.name }}</strong>
        {{ comment.date_added }}
        <br>
        {{ comment.rate }}
        <i class="fa fa-star" style="color:gold"></i>
        <br>
        {{ comment.body }}
        <br>
        <br>
        {% endfor %}

    </div>
</div>

<script>
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
            },

            success: function(json){
                //console.log(json)

                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },

            error: function(xhr, errmsg, err){

            }
        });

    })

    $(document).on('click', '#wish_list_add', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'wish_list_add' %}',
            data: {
                    product_id: $('#wish_list_add').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
            },

            success: function(json){
               console.log(json)
               location.reload();
            },

            error: function(xhr, errmsg, err){

            }
        });

    })

</script>
{% endblock %}